/*
 * ----------------------------------
 * -          VARIABLES             -
 * ----------------------------------
*/
/*
 * ----------------------------------
 * -           MIXINS               -
 * ----------------------------------
*/
/*
 * ----------------------------------
 * -            CSS                 -
 * ----------------------------------
*/
header[role="banner"] {
  margin: 0 auto 30px auto;
  width: 75%;
  height: 80px; }
  header[role="banner"] img {
    display: block;
    opacity: .95;
    float: left; }
  header[role="banner"] #menu-bar {
    border-style: solid;
    border-width: 1px;
    float: right;
    height: 100%;
    width: 710px; }

#footer {
  margin: 0 auto 30px auto;
  width: 75%;
  border-style: solid;
  border-width: 1px;
  clear: both;
  height: 30px; }

#placeholder-main {
  margin: 0 auto 30px auto;
  width: 75%;
  border-style: solid;
  border-width: 1px;
  height: 700px; }

#placeholder-content {
  margin: 0 auto 30px auto;
  width: 75%;
  border-style: solid;
  border-width: 1px;
  height: 500px; }
  #placeholder-content .main-content {
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 100%;
    width: 33%; }
  #placeholder-content #content3 {
    float: right; }

#gallery-content {
  margin: 0 auto 30px auto;
  width: 75%;
  border-style: solid;
  border-width: 1px; }
  #gallery-content .main-content {
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 0;
    padding-bottom: 33%;
    width: 33%; }

#product-content {
  margin: 0 auto 30px auto;
  width: 75%; }
  #product-content .main-content {
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 0;
    padding-bottom: 30%;
    width: 30%; }
  #product-content .left {
    float: left;
    margin: 0 0 3% 2%; }
  #product-content .middle {
    float: left;
    margin: 0 2% 3% 3%; }
  #product-content .right {
    float: right;
    margin: 0 2% 3% 0; }

#contact-main {
  margin: 0 auto 30px auto;
  width: 75%;
  border-style: solid;
  border-width: 1px;
  height: 600px;
  width: 60%; }
  #contact-main .main-content {
    height: 100%;
    float: left;
    width: 69%; }
  #contact-main #contact-greeting {
    margin: 5% 5%; }
  #contact-main #contact-form {
    margin: 5% 5%; }
  #contact-main #contact-sidebar {
    border-left-style: dashed;
    border-left-width: 2px;
    height: 100%;
    float: right;
    width: 30%; }
    #contact-main #contact-sidebar .label {
      clear: block;
      color: red;
      text-transform: uppercase; }
    #contact-main #contact-sidebar .content {
      clear: block; }
    #contact-main #contact-sidebar .sidebar-content {
      margin: 10% 10%; }
  #contact-main #contact-name-container {
    float: left;
    width: 30%%; }
    #contact-main #contact-name-container label {
      display: block; }
    #contact-main #contact-name-container input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      height: 25px;
      width: 100%;
      display: block; }
  #contact-main #contact-email-container {
    float: right;
    width: 30%%; }
    #contact-main #contact-email-container label {
      display: block; }
    #contact-main #contact-email-container input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      height: 25px;
      width: 100%;
      display: block; }
  #contact-main #contact-message-container {
    clear: both; }
    #contact-main #contact-message-container label {
      display: block; }
    #contact-main #contact-message-container textarea {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border-width: 1px;
      height: 300px;
      resize: none;
      width: 100%; }
