/*
 * ----------------------------------
 * -          VARIABLES             -
 * ----------------------------------
*/
/*
 * ----------------------------------
 * -           MIXINS               -
 * ----------------------------------
*/
/*
 * ----------------------------------
 * -            CSS                 -
 * ----------------------------------
*/
html {
  background-color: #d2d4d5; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0 0; }

a {
  color: #252525;
  text-decoration: none; }

a:hover {
  color: #a97a00; }

header[role="banner"] {
  margin: 0 auto 30px auto;
  width: 1280px;
  height: 90px; }
  header[role="banner"] .logo {
    background: url(/static/img/logo.jpg) no-repeat;
    float: left;
    width: 180px;
    height: 86px; }
  header[role="banner"] img {
    display: block;
    opacity: .95;
    float: left; }
  header[role="banner"] #menu-bar {
    border-style: solid;
    border-width: 1px;
    background: url(/static/img/menu-bar2.png) no-repeat;
    background-color: #f4f4f4;
    background-position: center;
    margin-left: 30px;
    float: right;
    height: 100%;
    width: 667px; }

.custom-nav {
  list-style-type: none;
  font-family: "Fjord One";
  font-size: 17px;
  font-weight: bold;
  margin-top: 60px; }
  .custom-nav #products {
    display: inline; }
  .custom-nav #gallery {
    display: inline;
    margin-left: 114px; }
  .custom-nav #about {
    display: inline;
    margin-left: 92px; }
  .custom-nav #contact {
    display: inline;
    margin-left: 77px; }

#footer {
  margin: 0 auto 30px auto;
  width: 1280px;
  background-color: #d2d4d5;
  clear: both;
  font-family: "Fjord One";
  text-align: center; }

#wrapper {
  background-image: -webkit-radial-gradient(700px, ellipse closest-side, white, #fafafa 150px, #d2d4d5 400px); }

#homepage-main {
  margin: 0 auto 30px auto;
  width: 1280px;
  height: 600px; }

#image1 {
  display: inline; }
  #image1 img {
    display: inline;
    margin: 150px 0px 150px 115px; }

#image1-desc {
  display: inline;
  float: right;
  font-family: "Fjord One";
  font-size: 20px;
  line-height: 1.5;
  margin: 180px 50px;
  width: 500px; }

#homepage-content {
  margin: 0 auto 30px auto;
  width: 1280px;
  height: 500px; }
  #homepage-content .main-content {
    float: left;
    height: 100%;
    width: 385px; }
  #homepage-content #content3 {
    float: right; }

#gallery-content {
  margin: 0 auto 30px auto;
  width: 1280px;
  border-style: solid;
  border-width: 1px; }
  #gallery-content .main-content {
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 0;
    padding-bottom: 33%;
    width: 33%; }

#product-content {
  margin: 0 auto 30px auto;
  width: 1280px; }
  #product-content .main-content {
    float: left;
    height: 0;
    padding-bottom: 30%;
    width: 385px; }
  #product-content .main-content:hover {
    background-color: #b8bbbc; }
  #product-content .left {
    float: left;
    margin: 0 0 3% 2%; }
  #product-content .middle {
    float: left;
    margin: 0 2% 3% 3%; }
  #product-content .right {
    float: right;
    margin: 0 2% 3% 0; }
  #product-content h3 {
    text-align: center; }
  #product-content #product1 img {
    margin: 100px 40px 10px 40px; }
  #product-content #product2 img {
    margin: 100px 40px 3px 40px; }
  #product-content #product3 img {
    margin: 96px 60px 0px 40px; }
  #product-content #product4 img {
    margin: 115px 60px 0px -5px; }
  #product-content #product5 img {
    margin: 80px 60px 0px 70px; }
  #product-content #product6 img {
    margin: 75px 60px 0px 50px; }

#contact-main {
  margin: 0 auto 30px auto;
  width: 1280px;
  border-style: solid;
  border-width: 1px;
  background-color: #f4f4f4;
  height: 650px;
  line-height: 1.5;
  width: 1050px; }
  #contact-main .main-content {
    height: 100%;
    float: left;
    width: 69%; }
  #contact-main #contact-greeting {
    margin: 5% 5%;
    margin-bottom: 0px; }
    #contact-main #contact-greeting h1 {
      font-family: Lato;
      font-weight: bold; }
  #contact-main #contact-form {
    margin: 5% 5%;
    margin-top: 0px; }
  #contact-main #contact-sidebar {
    border-left-style: dashed;
    border-left-width: 2px;
    height: 100%;
    float: right;
    width: 30%; }
    #contact-main #contact-sidebar .label {
      clear: block;
      color: #e85253;
      font-size: 15px;
      font-weight: bold;
      padding: 0;
      text-transform: uppercase; }
    #contact-main #contact-sidebar .content {
      clear: block; }
    #contact-main #contact-sidebar .sidebar-content {
      margin: 10% 10%; }
  #contact-main input {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: white; }
  #contact-main input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    height: 25px;
    width: 100%;
    background-color: #e85253;
    color: #f4f4f4;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    height: 30px;
    width: 100px; }
  #contact-main textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: white; }
  #contact-main #contact-name-container {
    float: left;
    width: 200px; }
    #contact-main #contact-name-container label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    #contact-main #contact-name-container input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      height: 25px;
      width: 100%;
      display: block; }
    #contact-main #contact-name-container span {
      color: #e85253; }
  #contact-main #contact-email-container {
    float: right;
    width: 250px; }
    #contact-main #contact-email-container label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    #contact-main #contact-email-container input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      height: 25px;
      width: 100%;
      display: block; }
    #contact-main #contact-email-container span {
      color: #e85253; }
  #contact-main #contact-message-container {
    clear: both; }
    #contact-main #contact-message-container label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    #contact-main #contact-message-container input {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      height: 25px;
      width: 100%;
      display: block; }
    #contact-main #contact-message-container span {
      color: #e85253; }
    #contact-main #contact-message-container label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    #contact-main #contact-message-container textarea {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border-width: 1px;
      height: 300px;
      resize: none;
      width: 100%; }

#about-main {
  margin: 0 auto 30px auto;
  width: 1280px;
  line-height: 1.5;
  width: 1200px; }
  #about-main h2 {
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
    width: 500px; }
  #about-main p {
    font-size: 16px;
    margin: auto;
    width: 500px; }
