/*
 * ----------------------------------
 * -          VARIABLES             -
 * ----------------------------------
*/
$background-color: #d2d4d5; // was the grayish color from myownbike.de
// $background-color: #FFDAB0;
$input-color: #FFFFFF; //#F1F1F1;
$main-font: 'Fjord One';
$menu-color: #F4F4F4;
$contact-red: #E85253;
$contact-color: $menu-color;
//$contact-color: lighten($background-color, 30%);
/*
 * ----------------------------------
 * -           MIXINS               -
 * ----------------------------------
*/
@mixin borders {
    border-style: solid;
    border-width: 1px;
}
@mixin contact-input-style {
    label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    input {
        @include input-style;
        display: block;
    }
    span {
	    color: $contact-red;
    }
}
@mixin container-style {
    margin: 0 auto 30px auto;
    width: 1280px;
}

@mixin input-font-family {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
@mixin input-style {
    @include rounded(5px);
    border-width: 1px;
    border-style: solid;
    height: 25px;
    width: 100%;
}
@mixin margins {
    margin: 5% 5%;
}
@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/*
 * ----------------------------------
 * -            CSS                 -
 * ----------------------------------
*/
// ------------ common --------------
html {
    background-color: $background-color;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0 0;
}
a {
    color: #252525;
    text-decoration: none;
}
a:hover {
    color: darken(#FFD25C, 35%);
}
header[role="banner"] {
    @include container-style;
    height: 90px;
    .logo {
	background: url(/static/img/logo.jpg) no-repeat;
	float: left;
	width: 180px;
	height: 86px;
    }
    img { 
        display: block; opacity: .95;
        float: left;
    } 
    #menu-bar {
        @include borders;
	    background: url(/static/img/menu-bar2.png) no-repeat;
	    background-color: $menu-color;
	    background-position: center;
	    margin-left: 30px;
        float: right;
        height: 100%;
        width: 667px;
    }
}
.custom-nav {
    list-style-type: none;
    // TODO: EXPERIMENT WITH MORE FONT STYLES
    font-family: $main-font;
    // font-family: 'Gentium Basic';
    // font-family: 'Josefin Slab';
    font-size: 17px;
    font-weight: bold;
    margin-top: 60px;
    #products {
	    display: inline;
    }
    #gallery {
	    display: inline;
	    margin-left: 114px;
    }
    #about {
	    display: inline;
	    margin-left: 92px;
    }
    #contact {
	    display: inline;
	    margin-left: 77px;
    }
}
#footer {
    @include container-style;

    background-color: $background-color;
    clear: both;
    font-family: $main-font;
    text-align: center;
}
#wrapper {
    background-image: -webkit-radial-gradient(
	700px,
	ellipse closest-side, 
	#fff,
	lighten($background-color, 15%) 150px,
	$background-color 400px
    );
}

// ------------- homepage -------------
#homepage-main {
    @include container-style;
    height: 600px;
}
#image1 {
    display: inline;
    img {
	display: inline;
	margin: 150px 0px 150px 115px;
    }
} 
#image1-desc {
    display: inline;
    float: right;
    font-family: $main-font;
    font-size: 20px;
    line-height: 1.5;
    margin: 180px 50px;
    width: 500px;
}
#homepage-content {
    @include container-style;
//    @include borders; TODO: Add this back in after demo
    height: 500px;

    .main-content {
//        @include borders; TODO: Add this back in after demo
        float: left;
        height: 100%;
        width: 385px;
    }
    #content3 {
        float: right;
    }
}

// ------------- gallery -------------
#gallery-content {
    @include container-style;
    @include borders;

    .main-content {
        @include borders;
        float: left;
        height: 0;
        padding-bottom: 33%;
        width: 33%;
    }
}

// ------------- gallery -------------
#product-content {
    @include container-style;

    .main-content {
//        @include borders;
        float: left;
        height: 0;
        padding-bottom: 30%;
        width: 385px;
    }
    .main-content:hover {
	background-color: darken($background-color, 10%);
    }
    .left {
        float: left;
        margin: 0 0 3% 2%;
    }
    .middle {
        float: left;
        margin: 0 2% 3% 3%;
    }
    .right {
        float: right;
        margin: 0 2% 3% 0;
    }
    h3 {
	text-align: center;
    }
    #product1 img {
	margin: 100px 40px 10px 40px;
    }
    #product2 img {
	margin: 100px 40px 3px 40px;
    }
    #product3 img {
	margin: 96px 60px 0px 40px;
    }
    #product4 img {
	margin: 115px 60px 0px -5px;
    }
    #product5 img {
	margin: 80px 60px 0px 70px;
    }
    #product6 img {
	margin: 75px 60px 0px 50px;
    }
}

// --------- contact-us -----------
#contact-main {
    @include container-style;
    @include borders;
    background-color: $contact-color;
    height: 650px;
    line-height: 1.5;
    width: 1050px;

    .main-content {
        height: 100%;
        float: left;
        width: 69%;
    }
    #contact-greeting {
        @include margins;
    	margin-bottom: 0px;
        h1 {
            font-family: Lato;
            font-weight: bold;
        }
    }
    #contact-form {
        @include margins;
    	margin-top: 0px;
    }
    #contact-sidebar {
        border-left-style: dashed;
        border-left-width: 2px;
        height: 100%;
        float: right;
        width:30%;
        .label {
            clear: block;
    	    color: $contact-red;
            font-size: 15px;
            font-weight: bold;
            padding: 0;
            text-transform: uppercase;
        }
        .content {
            clear: block;
        }
        .sidebar-content {
            margin: 10% 10%;
        }
    }
    input {
	    @include input-font-family;
	    background-color: $input-color;
    }
    input[type=submit] {
	    @include input-font-family;
	    @include input-style;
	    background-color: $contact-red;
	    color: $contact-color;
        cursor:pointer;
	    display: block;
	    float: right;
	    font-size: 14px;
	    font-weight: bold;
        margin-top: 25px;
	    height: 30px;
	    width: 100px;
    }
    textarea {
	    @include input-font-family;
	    background-color: $input-color;
    }
	
    #contact-name-container {
        float: left;
        width: 200px;
	    @include contact-input-style;
    }
    #contact-email-container {
        float: right;
        width: 250px;
	    @include contact-input-style;
    }
    #contact-message-container {
        clear: both;
	    @include contact-input-style;
        label {
            display: block; 
    	    font-size: 14px;
    	    font-weight: bold;
    	    text-transform: uppercase;
        }
        textarea {
            @include rounded(10px);
            border-width: 1px;
            height: 300px;
            resize: none;
            width: 100%;
        }
    }
}

// --------- about -----------
#about-main {
    @include container-style;
    // @include borders;
    // background-color: $contact-color;
    line-height: 1.5;
    width: 1200px;
    
    h2 {
        font-family: Lato;
        font-size: 26px;
        font-weight: bold;
        margin: auto;
        padding: 30px 0px;
        text-align: center;
        width: 500px;
    }
    p {
        font-size: 16px;
        margin: auto;
        width: 500px;
    }
}
