/*
 * ----------------------------------
 * -          VARIABLES             -
 * ----------------------------------
*/

/*
 * ----------------------------------
 * -           MIXINS               -
 * ----------------------------------
*/
@mixin container-style {
    margin: 0 auto 30px auto;
    width: 75%;
}

@mixin borders {
    border-style: solid;
    border-width: 1px;
}

/*
 * ----------------------------------
 * -            CSS                 -
 * ----------------------------------
*/

// ------------ common --------------
header[role="banner"] {
    @include container-style;
    @include borders;
    height: 89px;

    img { 
        display: block; opacity: .95;
        float: left;
    } 
    #menu-bar {
        @include borders;
        float:right;
        height: 100%;
        width: 710px;
    }
}

#footer {
    @include container-style;
    @include borders;
    clear: both;
    height: 30px;
}

// ------------- homepage -------------
#placeholder-main {
    @include container-style;
    @include borders;
    height: 700px;
}
#placeholder-content {
    @include container-style;
    @include borders;
    height: 500px;

    .main-content {
        @include borders;
        float: left;
        height: 100%;
        width: 33%;
    }
    #content3 {
        float: right;
    }
}

// ------------- gallery -------------
#gallery-content {
    @include container-style;
    @include borders;

    .main-content {
        @include borders;
        float: left;
        height: 0;
        padding-bottom: 33%;
        width: 33%;
    }
}

// ------------- gallery -------------
#product-content {
    @include container-style;
    clear: both;

    .main-content {
        @include borders;
        float: left;
        height: 0;
        padding-bottom: 30%;
        width: 30%;
    }
    .left {
        float: left;
        margin: 0 0 3% 2%;
    }
    .middle {
        float: left;
        margin: 0 2% 3% 3%;
    }
    .right {
        float: right;
        margin: 0 2% 3% 0;
    }
}
