<!DOCTYPE html>
<html>
    <body>
	<div id="wrapper">
        {% include 'header.html' %}
	    <div id="about-main">
		<h2> Deja Vu Audio </h2>
		<p> Located in the heart of McLean Business District, provides 
		professional services in building the best music system for the 
		homes, all within individual budget limitations. Through dedication 
		and research, Deja Vu Audio showcases hi-fi systems made up of 
		world-class components of enduring value. </p>

		<h2> The Store and Audition Rooms </h2>
		<p> One visit and you will immediately note that we are different 
		from most audio stores you have ever visited. Our demo rooms 
		allow evaluation of hifi and video products in a warm and restfull 
		atmosphere. Customers are encouraged to bring music they are 
		familiar with to listen, but our store has a large selection of 
		music available. Our goal is to communicate the heart and 
		expression of the recording artist, while drawing the listener 
		into a dimensional and emotinally satisfying musical experience. </p>

		<h2> The Philosophy </h2>
		<p> For our customers, we carefully assembled the best equipment 
		which approaches the highest degree of perfection available 
		within individual’s budget. The overriding criteria is always 
		sound quality – providing the best possible listening or viewing 
		experience for our customers is the paramount consideration. </p>

		<h2> The Products </h2>
		<p> We select the world’s best audio components based on “quality”, 
		“reliability” and ” value “. A Hi-Fi system can cost a lot 
		less than many first time customers anticipate. All customized 
		systems can be assembled to suit budgets from $3,000 to 
		$500,000 (or more). </p>

		<h2> The Services </h2>
		<p> We also specialise in custom, made to order hifi systems and 
		hifi storage. We offer a full service installation in your 
		home and we can also install hifi systems abroad, by special 
		arrangement.</p>

		<h2> The After Sale Services </h2>
		<p> Customer requirements are not static but dynamic in nature, 
		 therefore when customers feel that the time has come to upgrade 
		or improve the current system, we can help. Even the best 
		equipment will, at some time, be subject to revision and 
		replacement with improved models. We guide customers through 
		this phase and advise them of the best time and the best 
		approach to adopt when upgrading their own systems. </p>
	  </div>
      <div id="footer">
          © Deja Vu Audio LTD.
      </div>
          </div>
    </body>
</html>
