<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gentium+Basic">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fjord+One">
<link rel="stylesheet" type="text/css" href="static/css/base.css">
<script src="/static/js/jquery.min.js"></script>
<header role="banner">
    <a href="/" class="logo"></a>
    <div id="menu-bar">
	<ul class="nav">
	    <li id="products">
		<a href="/products"><span>Products</span></a>
	    </li>
	    <li id="gallery">
		<a href="/gallery"><span>Gallery</span></a>
	    </li>
	    <li id="about">
		<a href="/about"><span>About Us</span></a>
	    </li>
	    <li id="contact">
		<a href="/contact-us"><span>Contact</span></a>
	    </li>
    </div>
</header>
