<!DOCTYPE html>
<html>
    <body>
	<div id="wrapper">
        {% include 'header.html' %}
          <div id="product-content">
             <div id="product1" class="left main-content">
	         <img src="/static/img/tube-amp.png">
	     </div>
             <div id="product2" class="middle main-content"> </div>
             <div id="product3" class="right main-content"> </div>
             <div id="product4" class="left main-content"> </div>
             <div id="product5" class="middle main-content"> </div>
             <div id="product6" class="right main-content"> </div>
          </div>
          <div id="footer">
              © Deja Vu Audio LTD.
          </div>
	</div>
    </body>
</html>
