<!DOCTYPE html>
<html>
    <body>
	<div id="wrapper">
        {% include 'header.html' %}
        <div id="product-content">
	    <div id="product1" class="left main-content">
		<img src="/static/img/tube-amp.png">
		<h3> Amplifiers </h3>
	    </div>
	    <div id="product2" class="middle main-content">
		<img src="/static/img/preamp.png">
		<h3> Pre-Amplifier </h3>
	    </div>
	    <div id="product3" class="right main-content">
		<img src="/static/img/turntable3.png">
		<!-- <img src="/static/img/turntable.png"> -->
		<h3> Analog </h3>
	    </div>
	    <div id="product4" class="left main-content">
		<img src="/static/img/cdp.png">
		<h3> Digital </h3>
	    </div>
	    <div id="product5" class="middle main-content">
		<img src="/static/img/cable2.png">
		<h3> Cables </h3>
	    </div>
	    <div id="product6" class="right main-content">
		<img src="/static/img/cartridge2.png">
		<h3> Accessories </h3>
	    </div>
	</div>
        <div id="footer">
            © Deja Vu Audio LTD.
        </div>
	</div>
    </body>
</html
